*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body, html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-log{
    max-width: 320px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button{
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor :pointer;
    border: none;
    width: 80%;
    max-width: 250px;
    padding: 8px 0;
    font-size: 14px;
}

button:hover{
    background-color: #0059b8;
}

p{
    margin: 10px 0 0 0;
}

p a{
    color: #007bff;
    font-size: 14px;
}

input{
    padding: 8px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 18.5rem;
}

input:focus{
    border: 1px solid #007bff;
    outline: none;
}

input, button{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



